accelerate
calflops
certifi
charset-normalizer
contourpy
cycler
einops
filelock
fonttools
fsspec
ftfy
fvcore
haversine
huggingface-hub
idna
info-nce-pytorch
iopath
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy<2.0
pandas
peft
pillow
portalocker
pyparsing
python-dateutil
pytorch-metric-learning
pytz
PyYAML
regex
requests
safetensors
scikit-learn
scipy
seaborn
sympy
tabulate
termcolor
threadpoolctl
timm
tokenizers
torch
torchsummary
torchvision
tqdm
transformers
triton
tzdata
urllib3
vit-pytorch
yacs
